**/.git
**/.claude
**/.agents
**/node_modules
**/vendor
**/.env
**/storage/logs/*
**/storage/framework/cache/*
**/storage/framework/views/*
**/storage/framework/sessions/*
*.md
.editorconfig
skills-lock.json
